<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7c6d7463-afb2-4db7-b445-0a0e1ef863e0/resourceGroups/MicahCustomerManager/providers/Microsoft.Web/sites/MicahCustomerManager</ResourceId>
    <ResourceGroup>MicahCustomerManager</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://micahcustomermanager.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>micahcustomermanager.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MicahCustomerManager</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MicahCustomerManager</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>