@page
@model MicahCustomerManager.Pages.Procedures.EditModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Procedure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Procedure.Id" />
            <div class="form-group">
                <label asp-for="Procedure.Name" class="control-label"></label>
                <input asp-for="Procedure.Name" class="form-control" />
                <span asp-validation-for="Procedure.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procedure.Description" class="control-label"></label>
                <input asp-for="Procedure.Description" class="form-control" />
                <span asp-validation-for="Procedure.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procedure.Category" class="control-label"></label>
                <input asp-for="Procedure.Category" class="form-control" />
                <span asp-validation-for="Procedure.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procedure.Price" class="control-label"></label>
                <input asp-for="Procedure.Price" class="form-control" />
                <span asp-validation-for="Procedure.Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Procedure.ConsentRequired" /> @Html.DisplayNameFor(model => model.Procedure.ConsentRequired)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
